body {
  background: rgb(129, 127, 127);
  text-align: center;
}
.container {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
}
.load {
  grid-column: span 2;
  margin: 20px auto;
}

.submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 200px;
  margin: 60px auto;
  margin-bottom: 60px;
}

/* buttons */
button {
  width: 120px;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 10px 8px;
  background: linear-gradient(45deg, rgb(61, 61, 189), rgb(248, 248, 112));
  cursor: pointer;
  transition: transform 400ms ease;
  font-size: 16px;
}
.delete {
  background: linear-gradient(45deg, rgb(224, 80, 80), rgb(161, 5, 5));
  margin: 0 12px;
}
button:hover {
  transform: scale(1.2);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
